body{
width: 100%;
height: 100%;
background-color: #dff4ea;
	background-image: url("resoures/3.jpg");
	background-size:  100%;
	opacity: .7;
}

#header {
font-family:  Verdana;
width: 100%;
height: 2%;
text-align: center;
position: relative;
background-color: #a4b0be;	
}
#logo img{
	width: 30px;
}
#logo {
position: absolute;
 left: 19px;
}
#Twetter {
position: absolute;
left: 0;
top: -20px;
width: 100%;
text-align: center;
}
#Twetter h2{
	text-align: center;
	font-family: Luckiest Guy;
}
#right {
	position: absolute;
 right: 16px;
}
#contenet {
	font-family: Courier;
	position: absolute;
    margin-top: 40px;
    
    width: 100%;
    text-align: center;
}
#main {
	position: relative;
	width: 70%;
	left: 100px;

}

.tweet a{
	 padding: 15px 10px 0px 10px;
	font-weight: bold;
	color: #0f5869;
	opacity: 1;
	font-family: Passion One,Rubik Mono One;
	
}
.tweet p{
text-align: center;
	font-weight: bold;
	color:black;
	font-family: Rokkitt;
}
.tweet  {

	display: flex;
	
	margin-top: 16px;
	background-image: url("resoures/2.jpg");
	background-repeat: no-repeat;
	background-size:  100%;
	opacity: .7;
 
    border-radius: 15px;
    border-color: #f5fcfc;

 	-moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
 	-webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
	box-shadow: 10px 10px 5px -8px rgba(145,157,163,1);
	text-align: right;


}


#refBtn{
	background-color: lightgreen;
	border-radius: 50%;
	font-size: 15px;
}